button {
  border: none;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
button:active{
  transform:scale(0.95);
}
